In [1]:
#voy a abrir el archivo datos.csv en un dataframe
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline
df = pd.read_csv('../data/datos.csv')

In [2]:
df.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.shape

(1809, 13)

In [4]:
df2 = df.copy()

In [5]:
#voy a borrar las filas que tienen todos los valores nulos
df2.dropna(how='all', inplace=True)

In [6]:
df2.shape

(1009, 13)

In [7]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,NaN,NaN,NaN,NaN,NaN,NaN,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,NaN,NaN,NaN,NaN,NaN,NaN,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0

In [8]:
#en las columnas que empiezan por pg_, voy a copiar los valores del indice 0 en las filas que tienen valores nulos
for col in df2.columns:
    if col.startswith('pg_'):
        df2[col].fillna(df2[col][0], inplace=True)

In [9]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,natgeo,National Geographic,Experience the world through the eyes of Natio...,27.85,266 M,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0

In [10]:
#la columna pg_numero_de_publicaciones está en float. Compruebo que tenga algun decimal, y si es así, lo multiplico por 1000. Luego lo paso a int
df2['pg_numero_de_publicaciones'] = df2['pg_numero_de_publicaciones'].apply(lambda x: int(x*1000) if x%1 != 0 else int(x))

In [11]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266 M,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266 M,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266 M,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266 M,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266 M,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0

In [12]:
#la columna pg_seguidores está en string. Voy a convertirlo a int. Si tiene M, lo multiplico por 1000000. Si tiene K, lo multiplico por 1000
def convertir_a_int(x):
    if x.endswith('M'):
        return int(float(x[:-1])*1000000)
    elif x.endswith('K'):
        return int(float(x[:-1])*1000)
    else:
        return int(x)
df2['pg_seguidores'] = df2['pg_seguidores'].apply(convertir_a_int)

In [13]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140.0,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140.0,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0

In [14]:
#la columna pg_seguidos está en float. La voy a pasar a int
df2['pg_seguidos'] = df2['pg_seguidos'].apply(lambda x: int(x))

In [15]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0

In [16]:
#elimino la primera fila porque tiene todos los valores nulos
df2.drop(0, inplace=True)

In [17]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
5,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
6,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0
7,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-3.jpg,"Photo by National Geographic on March 14, 2023...",3.0

In [18]:
#reiniciamos el indice
df2.reset_index(drop=True, inplace=True)

In [19]:
#vamos a ver si hay algun nulo en la columna ph_likes  
df2['ph_likes'].isnull().sum()

36

In [20]:
#vamos a localizar las filas que tienen nulos en la columna ph_likes
df2[df2['ph_likes'].isnull()]

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
154,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @brianskerry | A female humpback whal...,NaN,2023-02-14T17:00:14.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba123-1.jpg,"Photo by National Geographic on February 14, 2...",123.0
307,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @javier_aznar_photography | After sev...,NaN,2023-01-18T12:00:11.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba244-1.jpg,"Photo by National Geographic on January 18, 2023.",244.0
318,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @paoloverzone | A polar bear walks ac...,NaN,2023-01-15T12:00:11.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba253-1.jpg,"Photo by National Geographic on January 15, 2023.",253.0
323,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by Jason Gulley @jason_gulley_science |...,NaN,2023-01-13T14:00:14.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba259-1.jpg,"Photo by National Geographic on January 13, 2023.",259.0
324,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by Jason Gulley @jason_gulley_science |...,NaN,2023-01-13T14:00:14.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba259-2.jpg,"Photo by National Geographic on January 13, 2023.",259.0
332,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Read the full story at the link in bio.\n\nSea...,NaN,2023-01-11T20:00:16.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba266-1.jpg,"Photo by National Geographic on January 11, 20...",266.0
334,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @jimmychin | @alexhonnold and @hazel...,NaN,2023-01-11T01:00:11.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba268-1.jpg,"Photo by National Geographic on January 10, 2023.",268.0
335,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @jimmychin | @alexhonnold and @hazel...,NaN,2023-01-11T01:00:11.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba268-2.jpg,"Photo by National Geographic on January 10, 2023.",268.0
391,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Our National Geographic contributors were task...,NaN,2022-12-30T17:08:24.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba310-1.jpg,"Photo by National Geographic on December 30, 2...",310.0
392,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Our National Geographic contributors were task...,NaN,2022-12-30T17:08:24.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba310-2.jpg,"Photo by National Geographic on December 30, 2...",310.0
393,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Our National Geographic contributors were task...,NaN,2022-12-30T17:08:24.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba310-3.jpg,"Photo by National Geographic on December 30, 2...",310.0
394,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Our National Geographic contributors were task...,NaN,2022-12-30T17:08:24.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba310-4.jpg,"Photo by National Geographic on December 30, 2...",310.0
519,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @beverlyjoubert | What a catch! With ...,NaN,2022-11-29T19:30:14.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba411-1.jpg,"Photo by National Geographic on November 29, 2...",411.0
527,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by Charlie Hamilton James @chamiltonjam...,NaN,2022-11-28T17:00:18.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba415-1.jpg,"Photo by National Geographic on November 28, 2...",415.0
528,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by Charlie Hamilton James @chamiltonjam...,NaN,2022-11-28T17:00:18.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba415-2.jpg,"Photo by National Geographic on November 28, 2...",415.0
529,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by Charlie Hamilton James @chamiltonjam...,NaN,2022-11-28T17:00:18.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba415-3.jpg,"Photo by National Geographic on November 28, 2...",415.0
568,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by Charlie Hamilton James @chamiltonjam...,NaN,2022-11-18T17:00:14.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba448-1.jpg,"Photo by National Geographic on November 18, 2...",448.0
569,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by Charlie Hamilton James @chamiltonjam...,NaN,2022-11-18T17:00:14.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba448-2.jpg,"Photo by National Geographic on November 18, 2...",448.0
570,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @rubensalgadoescudero | Cristobal Ces...,NaN,2022-11-17T14:30:13.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba451-1.jpg,"Photo by National Geographic on November 17, 2...",451.0
576,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Read the full story at the link in bio.\n\nWe’...,NaN,2022-11-15T00:00:11.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba459-1.jpg,"Photo by National Geographic on November 14, 2...",459.0
617,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @laurakmorton | Members of the HomeB...,NaN,2022-11-05T13:30:16.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba491-1.jpg,"Photo by National Geographic on November 05, 2...",491.0
618,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @laurakmorton | Members of the HomeB...,NaN,2022-11-05T13:30:16.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba491-2.jpg,"Photo by National Geographic on November 05, 2...",491.0
626,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Read the full story at the link in bio.\n\nRat...,NaN,2022-11-02T21:00:08.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba498-1.jpg,"Photo by National Geographic on November 02, 2...",498.0
663,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @newshatavakolian | I made this image...,NaN,2022-10-24T16:20:43.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba528-1.jpg,"Photo by National Geographic on October 24, 2022.",528.0
688,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by Mattias A. Klum @mattiasklumofficial ...,NaN,2022-10-17T16:00:10.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba551-1.jpg,"Photo by National Geographic on October 17, 2022.",551.0
690,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by Orsolya Haarberg @fjellheimengalleri ...,NaN,2022-10-16T21:00:10.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba553-1.jpg,"Photo by National Geographic on October 16, 2022.",553.0
697,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @katieorlinsky // This is my three-ye...,NaN,2022-10-15T13:30:19.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba558-1.jpg,"Photo by National Geographic on October 15, 2022.",558.0
701,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @BabakTafreshi | A bird flies toward ...,NaN,2022-10-14T13:30:11.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba562-1.jpg,"Photo by National Geographic on October 14, 2022.",562.0
726,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by Prasenjeet Yadav @prasen.yadav | A sn...,NaN,2022-10-06T21:00:13.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba587-1.jpg,"Photo by National Geographic on October 06, 2022.",587.0
727,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by Muhammed Muheisen @mmuheisen | A view...,NaN,2022-10-06T16:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba588-1.jpg,"Photo by National Geographic on October 06, 2022.",588.0
728,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by Muhammed Muheisen @mmuheisen | A view...,NaN,2022-10-06T16:00:15.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba588-2.jpg,"Photo by National Geographic on October 06, 2022.",588.0
734,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Read the full story at the link in bio.\n\nRat...,NaN,2022-10-04T18:30:50.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba594-1.jpg,"Photo by National Geographic on October 04, 2022.",594.0
804,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Read the full story at the link in bio.\n\nThe...,NaN,2022-09-18T21:00:10.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba651-1.jpg,"Photo by National Geographic on September 18, ...",651.0
883,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Read the full story at the link in bio.\n\nThe...,NaN,2022-09-01T23:30:37.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba713-1.jpg,"Photo by National Geographic on September 01, ...",713.0
982,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @amivitale | Happy World Elephant Day...,NaN,2022-08-12T13:30:09.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba786-1.jpg,"Photo by National Geographic on August 12, 202...",786.0
990,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Read the full story at the link in bio.\n\nJum...,NaN,2022-08-10T23:00:07.000Z,https://scontent-mad1-1.cdninstagram.com/v/t51...,imagenpreuba791-1.jpg,"Photo by National Geographic on August 10, 2022.",791.0

In [21]:
#como el numero de likes es importante, vamos a eliminar las filas que tienen nulos en la columna ph_likes
df2.dropna(subset=['ph_likes'], inplace=True)

In [22]:
#ahora vamos a ver si hay algun nulo en la columna ph_likes
df2['ph_likes'].isnull().sum()

0

In [23]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36.096 Me gusta,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
3,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0
4,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40.289 Me gusta,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-3.jpg,"Photo by National Geographic on March 14, 2023...",3.0

In [24]:
#ahora en la columna ph_likes, vamos a eliminar el punto, la parte que pone "Me gusta" y pasar el valor a int
df2['ph_likes'] = df2['ph_likes'].apply(lambda x: int(x.split(' ')[0].replace('.', '')))

In [25]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,ph_nombre,ph_atributos,ph_numerado
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36096,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-1.jpg,"Photo by National Geographic on March 14, 2023...",1.0
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36096,2023-03-14T20:44:17.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba1-2.jpg,"Photo by National Geographic on March 14, 2023...",1.0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-1.jpg,"Photo by National Geographic on March 14, 2023...",3.0
3,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-2.jpg,"Photo by National Geographic on March 14, 2023.",3.0
4,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14T13:00:15.000Z,https://scontent-mad2-1.cdninstagram.com/v/t51...,imagenpreuba3-3.jpg,"Photo by National Geographic on March 14, 2023...",3.0

In [26]:
#vamos a comprobar si hay nulos en ph_descripcion
df2['ph_descripcion'].isnull().sum()

0

In [27]:
#tambien vamos a hacer lo mismo en ph_fecha
df2['ph_fecha'].isnull().sum()

0

In [28]:
#tambien en ph_numerado
df2['ph_numerado'].isnull().sum()

0

In [29]:
#en la columna ph_fecha, que tiene un formato datatime con formato 2023-03-14T20:44:17.000Z, voy a eliminar la parte que pone .000Z
#luego quiero separarlo por la T, y quedarme con la parte de la izquierda, que es la fecha por un lado, y la hora por otro en una columna nueva
df2['ph_hora'] = df2['ph_fecha'].apply(lambda x: x.split('T')[1])
df2['ph_fecha'] = df2['ph_fecha'].apply(lambda x: x.split('T')[0])

In [30]:
#ahora en ph_hora, voy a quedarme solo con la hora, sin los minutos ni los segundos
df2['ph_hora'] = df2['ph_hora'].apply(lambda x: x.split(':')[0])

In [31]:
#en ph_fecha, voy a convertirlo a formato datetime
df2['ph_fecha'] = pd.to_datetime(df2['ph_fecha'])

In [32]:
#df2.head()

In [33]:
df2.ph_fecha.dtype

dtype('<M8[ns]')

In [34]:
#en ph_descripcion, voy a coger las palabras que tengan delante un "#" y ponerlas en una nueva columna llamada "ph_hashtags" como string
df2['ph_hashtags'] = df2['ph_descripcion'].apply(lambda x: ' '.join([word[1:] for word in x.split() if word.startswith('#')]))

In [35]:
#df2.head(22)

In [36]:
#la columna ph_numerado quiero convertirlo a int
df2['ph_numerado'] = df2['ph_numerado'].apply(lambda x: int(x))

In [37]:
#df2.head()

In [38]:
#quiero ver algunos contenidos enteros de ph_atributos sin que salgan los puntos suspensivos
#pd.set_option('display.max_colwidth', -1)

In [39]:
#quiero ver un listado de ph_atributos pudiendo ver todos los valores
#pd.set_option('display.max_rows', None)

In [40]:
df2["ph_atributos"]

0       Photo by National Geographic on March 14, 2023...
1       Photo by National Geographic on March 14, 2023...
2       Photo by National Geographic on March 14, 2023...
3         Photo by National Geographic on March 14, 2023.
4       Photo by National Geographic on March 14, 2023...
                              ...
1003     Photo by National Geographic on August 09, 2022.
1004     Photo by National Geographic on August 09, 2022.
1005     Photo by National Geographic on August 09, 2022.
1006     Photo by National Geographic on August 09, 2022.
1007     Photo by National Geographic on August 08, 2022.
Name: ph_atributos, Length: 972, dtype: object

In [41]:
#vamos a crear las columnas "ph_persona", "ph_naturaleza", "ph_animal", "ph_text" "ph_R", "ph_G", "ph_B". Vamos a llenarlas con 0
df2['ph_persona'] = 0
df2['ph_naturaleza'] = 0
df2['ph_animal'] = 0
df2['ph_text'] = 0
df2['ph_R'] = 0
df2['ph_G'] = 0
df2['ph_B'] = 0
df2['ph_WB'] = 0

In [42]:
#si en ph_atributos aparece la palabra "people" o "person", voy a poner un 1 en la columna ph_persona
df2['ph_persona'] = df2['ph_atributos'].apply(lambda x: 1 if 'people' in x or 'person' in x else 0)

In [43]:
#si en ph_atributos aparece la palabra "nature", o "water", "trees", "forest", "flower", voy a poner un 1 en la columna ph_naturaleza
df2['ph_naturaleza'] = df2['ph_atributos'].apply(lambda x: 1 if 'nature' in x or 'water' in x or 'trees' in x or 'forest' in x or 'flower' in x else 0)

In [44]:
#si en ph_atributos aparece la palabra "animal", "cat", "dog", "bird", "fish" o "horse", voy a poner un 1 en la columna ph_animal
df2['ph_animal'] = df2['ph_atributos'].apply(lambda x: 1 if 'animal' in x or 'cat' in x or 'dog' in x or 'bird' in x or 'fish' in x or 'horse' in x else 0)

In [45]:
#si aparece la palabra "text", voy a poner un 1 en la columna ph_text
df2['ph_text'] = df2['ph_atributos'].apply(lambda x: 1 if 'text' in x else 0)

In [46]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,...,ph_hora,ph_hashtags,ph_persona,ph_naturaleza,ph_animal,ph_text,ph_R,ph_G,ph_B,ph_WB
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36096,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,20,,0,0,0,0,0,0,0,0
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36096,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,20,,0,1,0,0,0,0,0,0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,13,,1,0,0,0,0,0,0,0
3,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,13,,0,0,0,0,0,0,0,0
4,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,13,,1,0,0,0,0,0,0,0

In [47]:
#voy a hacer una correlación de las columnas con ph_likes
df2.corr()['ph_likes']

pg_numero_de_publicaciones         NaN
pg_seguidores                      NaN
pg_seguidos                        NaN
ph_likes                      1.000000
ph_numerado                   0.096021
ph_persona                   -0.129751
ph_naturaleza                -0.064686
ph_animal                     0.033750
ph_text                       0.140569
ph_R                               NaN
ph_G                               NaN
ph_B                               NaN
ph_WB                              NaN
Name: ph_likes, dtype: float64

In [48]:
#vamos a ver cuantos valores unicos hay en la columna ph_persona
df2['ph_persona'].value_counts()

0    819
1    153
Name: ph_persona, dtype: int64

In [49]:
#ahora en naturaleza
df2['ph_naturaleza'].value_counts()

0    900
1     72
Name: ph_naturaleza, dtype: int64

In [50]:
#y en animal
df2['ph_animal'].value_counts()

0    944
1     28
Name: ph_animal, dtype: int64

In [51]:
#y en text
df2['ph_text'].value_counts()

0    932
1     40
Name: ph_text, dtype: int64

In [52]:
#quiero mirar la correlacion entre ph_likes y ph_horas con groupby
df2.groupby('ph_hora')['ph_likes'].mean()

ph_hora
00    199008.260870
01    139075.962264
02     90213.300000
03    122178.857143
04    155067.571429
11    116379.250000
12    118728.610390
13    157449.790909
14    158292.045455
15    135507.705882
16    134095.333333
17    133593.490909
18    135067.652174
19    161446.785714
20    135708.055556
21    181336.560000
22    151537.919643
23    143153.000000
Name: ph_likes, dtype: float64

In [53]:
#vamos a ver cuantos valores unicos hay en la columna ph_hora
df2['ph_hora'].value_counts()

16    117
22    112
14    110
17    110
13    110
21    100
12     77
01     53
18     46
19     28
00     23
23     23
20     18
15     17
02     10
03      7
04      7
11      4
Name: ph_hora, dtype: int64

In [54]:
#vamos a mirar la correlacion entre ph_likes y los valores de la columna ph_hora para ver si hay alguna relacion. ordenamos los valores de mayor a menor

df2.groupby('ph_hora')['ph_likes'].mean().sort_values(ascending=False)

ph_hora
00    199008.260870
21    181336.560000
19    161446.785714
14    158292.045455
13    157449.790909
04    155067.571429
22    151537.919643
23    143153.000000
01    139075.962264
20    135708.055556
15    135507.705882
18    135067.652174
16    134095.333333
17    133593.490909
03    122178.857143
12    118728.610390
11    116379.250000
02     90213.300000
Name: ph_likes, dtype: float64

In [55]:
#quiero unificar todo el codigo que he hecho en una funcion
df_copy = df.copy()

def convertir_a_int(x):
    if x.endswith('M'):
        return int(float(x[:-1])*1000000)
    elif x.endswith('K'):
        return int(float(x[:-1])*1000)
    else:
        return int(x)

def limpieza(df):
    df.dropna(how='all', inplace=True)
    for col in df.columns:
        if col.startswith('pg_'):
          df[col].fillna(df[col][0], inplace=True)
    df['pg_seguidores'] = df['pg_seguidores'].apply(convertir_a_int)
    df['pg_numero_de_publicaciones'] = df2['pg_numero_de_publicaciones'].apply(lambda x: int(x*1000) if x%1 != 0 else int(x))
    df['pg_seguidos'] = df['pg_seguidos'].apply(lambda x: int(x))
    df.drop(0, inplace=True)
    df.reset_index(drop=True, inplace=True)

    df.dropna(subset=['ph_likes'], inplace=True)
    df['ph_likes'] = df['ph_likes'].apply(lambda x: int(x.split(' ')[0].replace('.', '')))
    df['ph_hora'] = df['ph_fecha'].apply(lambda x: x.split('T')[1])
    df['ph_fecha'] = df['ph_fecha'].apply(lambda x: x.split('T')[0])
    df['ph_hora'] = df['ph_hora'].apply(lambda x: x.split(':')[0])
    df['ph_fecha'] = pd.to_datetime(df['ph_fecha'])
    df['ph_hashtags'] = df['ph_descripcion'].apply(lambda x: [i for i in x.split() if i.startswith('#')])
    df['ph_numerado'] = df['ph_numerado'].apply(lambda x: int(x))
    
    df['ph_persona'] = 0
    df['ph_naturaleza'] = 0
    df['ph_animal'] = 0
    df['ph_text'] = 0
    df['ph_R'] = 0
    df['ph_G'] = 0
    df['ph_B'] = 0
    df['ph_WB'] = 0
 
    df['ph_persona'] = df['ph_atributos'].apply(lambda x: 1 if 'people' in x or 'person' in x else 0)
    df['ph_naturaleza'] = df['ph_atributos'].apply(lambda x: 1 if 'nature' in x or 'water' in x or 'trees' in x or 'forest' in x or 'flower' in x else 0)
    df['ph_animal'] = df['ph_atributos'].apply(lambda x: 1 if 'animal' in x or 'cat' in x or 'dog' in x or 'bird' in x or 'fish' in x or 'horse' in x else 0)
    df['ph_text'] = df['ph_atributos'].apply(lambda x: 1 if 'text' in x else 0)
    return df

In [56]:
#ahora una funcion que rellene ph_persona, ph_naturaleza, ph_animal, ph_text
def rellenar(df):
    df['ph_persona'] = df['ph_atributos'].apply(lambda x: 1 if 'people' in x or 'person' in x else 0)
    df['ph_naturaleza'] = df['ph_atributos'].apply(lambda x: 1 if 'nature' in x or 'water' in x or 'trees' in x or 'forest' in x or 'flower' in x else 0)
    df['ph_animal'] = df['ph_atributos'].apply(lambda x: 1 if 'animal' in x or 'cat' in x or 'dog' in x or 'bird' in x or 'fish' in x or 'horse' in x else 0)
    df['ph_text'] = df['ph_atributos'].apply(lambda x: 1 if 'text' in x else 0)
    return df

In [57]:
#guaramos el dataframe en un csv en la carpeta data
df2.to_csv('../data/datos1_clean.csv', index=False)

In [58]:
df2.head()

,pg_direccion,pg_nombre,pg_descripcion,pg_numero_de_publicaciones,pg_seguidores,pg_seguidos,ph_descripcion,ph_likes,ph_fecha,ph_url,...,ph_hora,ph_hashtags,ph_persona,ph_naturaleza,ph_animal,ph_text,ph_R,ph_G,ph_B,ph_WB
0,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36096,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,20,,0,0,0,0,0,0,0,0
1,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photo by @stephenwilkes | During a winter scou...,36096,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,20,,0,1,0,0,0,0,0,0
2,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,13,,1,0,0,0,0,0,0,0
3,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,13,,0,0,0,0,0,0,0,0
4,natgeo,National Geographic,Experience the world through the eyes of Natio...,27850,266000000,140,Photos by @richardbarnes | Since 2019 I've bee...,40289,2023-03-14,https://scontent-mad2-1.cdninstagram.com/v/t51...,...,13,,1,0,0,0,0,0,0,0